<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavin.myapp.repository.ApiPermissionRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gavin.myapp.domain.ApiPermission">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="service_name" property="serviceName"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="method" property="method"/>
        <result column="url" property="url"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,service_name,name,code,description,type,method,url
    </sql>
</mapper>
