<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavin.myapp.repository.DataDictionaryRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gavin.myapp.domain.DataDictionary">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="font_color" property="fontColor"/>
        <result column="background_color" property="backgroundColor"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,name,code,description,font_color,background_color
    </sql>
</mapper>
