<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavin.myapp.repository.OssConfigRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gavin.myapp.domain.OssConfig">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="provider" property="provider"/>
        <result column="oss_code" property="ossCode"/>
        <result column="endpoint" property="endpoint"/>
        <result column="access_key" property="accessKey"/>
        <result column="secret_key" property="secretKey"/>
        <result column="bucket_name" property="bucketName"/>
        <result column="app_id" property="appId"/>
        <result column="region" property="region"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,provider,oss_code,endpoint,access_key,secret_key,bucket_name,app_id,region,remark,enabled
    </sql>
</mapper>
